body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 720px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}

